* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text-color);
    font-family: Helvetica, sans-serif;
    text-align: center;
}

/* The Grid */

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
    display: grid;
    grid-template-areas:
        "hd hd"
        "ct sd"
        "ft ft";
    grid-template-columns: 1fr 250px;
    grid-gap: 12px;
}

header {
    grid-area: hd;
    
    background-color: var(--header-bg);
    color: #fff;
}

header ul {
    background-color: #222;
    padding: 10px 12px;
}

.hdWrapper {
    padding: 30px 0 0 0;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 2.5em;
    font-weight: bold;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
}

nav li a:hover,
nav li a.selected {
    text-decoration: underline;
}

.content {
    grid-area: ct;
    
    margin-bottom: 40px;
    padding-left: 40px;
    padding-top: 20px;
}

.sidebar {
    grid-area: sd;
    padding-right: 40px;
}

footer {
    grid-area: ft;
    padding: 40px;
}

/* Styling */

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

.label {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.article-date {
    padding: 12px 0;
}

p {
    margin-bottom: 10px;
    line-height: 1.5rem;
}

article p,
article ul li,
article ol li {
    font-family: Georgia, serif;
}

article ul li,
article ol li {
    margin-left: 36px;
    margin-bottom: 6px;
}

article ul li:last-child,
article ol li:last-child {
    margin-bottom: 12px;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.breadcrumb {
    padding-bottom: 12px;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 36px;
    margin-right: 36px;
    padding: .5em 1em;
    border-left: 3px solid var(--header-bg);
    background-color: var(--block);
}

blockquote p {
    font-style: italic;
}

blockquote p:last-child {
    margin-bottom: 0;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

.recent-item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--block);
    margin-bottom: 20px;
    margin-left: 0;
}

.full-item-list > li {
    display: block;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-left: 0;
}

.recent-item-list > li:last-child,
.full-item-list > li:last-child {
    margin-bottom: 0;
}

.recent-item-list h1,
.full-item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.recent-item-list p,
.full-item-list h1 {
    margin-bottom: 0;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: var(--tag-bg);
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 0;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

/* Small screens */

@media(max-width: 599px) {
    .wrapper {
        grid-template-areas:
          "hd"
          "ct"
          "sd"
          "ft";
          grid-template-columns: 1fr;
        /* padding: 40px 0; */
    }
    
    header .site-name { font-size: 2em; }
    
    footer {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .content,
    .sidebar {
        padding: 0 1.25em;
    }
    
    .content {
        margin-bottom: 0;
        padding-left: 1.25em;
        padding-right: 1.25em;
    }
}

/* Themes */

:root {
  --background: #fff;
  --header-bg: rgb(255,132,68);
  --tag-bg: rgb(255,132,68);
  --block: #eee;
  --text-color: #000;
  --text-flip: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
      --background: #111;
      --header-bg: rgba(255,132,68, .95);
      --tag-bg: rgba(255,132,68, .95);
      --block: #222;
      --text-color: #eee;
      --text-flip: #000;
    }
}
